data/mnist/
data/mnist_test.csv
data/mnist_train.csv
.idea/
data/mnist-permutated-png-format/mnist
src/main/py/mlp/data/MNIST
test.csv
train.csv
src/main/py/cnn/data
src/main/py/kws/data/resized_word_images
src/main/py/kws/data/word_images
src/main/py/kws/data/binarized_images
csv_results.txt
features.txt
